:root {
  /* Borders */
  --border-width: 1px;
  --border-style: solid;
  --border-color: black;
  --border: var(--border-width) var(--border-style) var(--border-color);

  /* Border radius */
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 16px;

  /* Dialog */
  --spacing : 1rem;
  --dialog-font-size: 1.25rem;
  --dialog-btns-padding : 0.5rem 1rem;

    /* Font Sizes */
    --font-size: 1rem;
    --font-size-md: 1.25rem; 
    --font-size-large: 1.5rem; 
    
    --heading-font-size: 1.25rem; 
    --body-font-size: 1rem; 
    --input-font-size: 1rem; 
    --button-font-size: 1rem; 

    /* input  */
  --input-padding : 0.25rem;
  }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  

body{
  width: 100%;
  min-height: 100vh;

}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid ;
  height: 3rem;
  padding: 15px;
}

main{
  width: 100%;
  height: 100vh;
  border: 1px solid;
  display: flex;

}

button{
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

ul{
  list-style:none;
  /* border: 1px solid black; */
}
#sidebar{
  width: 200px;
  height: auto;
  border: 1px solid;
  /* color: white; */
  padding: 10px;
  /* background-color: navy; */
  display: flex;
  flex-direction: column;
  
  
}
li button{
  font-size: var(--font-size);

}
#sidebar > * {
  border: 1px solid white;
  /* text-align: center; */
}

.todo-nav{
  flex: 1;
}
.project-nav{

  flex: 2;
}

.sidebar_item, .project-nav-item{
  margin-bottom: 10px;
}
.sidebar_button{
 
}
.main-content{
  flex: 1;
  border: 1px solid;

}

.add-todo{
  /* border: var(--border); */
  /* margin-bottom: ; */
  padding: 0.4rem 0.4rem;
  text-align: right;
}
#addTodo, #addProject{
  border: var(--border);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}

.todo-item{
  border: 1px solid;
  margin-bottom: 20px;
}

/* dialogs */
#todoDialog{
 margin: auto;
 padding: 1rem;
 width: 400px;
  
  
}

#todoForm{

}

.form-group{
  /* border: var(--border); */
  margin-bottom: var(--spacing);
  font-size: var(--dialog-font-size);
}

.form-group > * {
  display: block;
}

.form-group > *{
  padding: var(--input-padding);
  width: 100%;
  font-size: var(--font-size);
}

#todoForm > button{
  border: var(--border);
  padding: var(--dialog-btns-padding);
  background-color: blueviolet;
  
}